{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'admin_custom/admin.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name" class="aljasad-brand">
  <a href="{% url 'admin:index' %}">
    <span class="brand-mark">ج</span>
    <span class="brand-text">
      <strong>{{ site_header|default:_('Django administration') }}</strong>
      <small>لوحة تحكم احترافية</small>
    </span>
  </a>
</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'admin_custom/admin.js' %}" defer></script>
{% endblock %}
